.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 650px;
  overflow: hidden;
}

.banner-text {
  text-align: center;
  color: white;
  max-width: 600px;
  margin-top: 150px;
}

.banner-text h1 {
  font-size: 40px;
  margin-bottom: 8px;
}

.banner-text p {
  font-size: 20px;
  margin-bottom: 200px;
  
}

.button {
  display: inline-block;
  padding: 10px 30px;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: white;
  color: #333;
}

.scroll-to-image {
  position: relative;
  width: 100%;
  height: 800px;
  background-color: #d4d4d4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.scroll-to-image img {
  width: 60%;
  height: auto;
  border-radius: 50px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.poem-box {
	background-color: #ffffff;
	padding: 20px;
	border-radius: 60px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	opacity: 0.6;
}

.poem-box h1 {
  font-size: 48px;
}

.poem-box p {
  font-size: 20px;
  margin-bottom: 16px;
}