<div class="row">
  <div class="banner">
    <div class="banner-text">
      <h1>¿Estas buscando una página web?</h1>
      <p>¿Quieres conocer más al respecto?</p>
      <a href="#scroll-to-image" class="button">Ver más</a>
    </div>
  </div>

  <div class="scroll-to-image" id="scroll-to-image">
    <div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-12">
            <div class="poem-box">
              <h1>¡Hola, Bienvenido a mi Portfolio Web!</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>