.row{
    background-color: #d4d4d4;
    padding: 20px;
    padding-top: 100px;
}

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}