*{
    padding: 0;
    margin-top: 0;
    box-sizing: border-box;
}

#fondo{
    padding: 40px;
    padding-top: 100px;
    background-color: #d4d4d4;
}

#caja-padre{
    width: 60%;
    min-width: 590px;
    position: relative;
    top: 100%;
    transform: translate(-50%,5%);
    left: 50%;
}

.container{
    width: 100%;
    padding: 30px 30px 50px;
    background:  rgb(15, 15, 15);
    border: 2px solid rgb(0, 0, 0, 0.06);
    border-radius: 15px;
    box-shadow: 0 20px 30px rgb(0, 0, 0, 0.2);
}

.container *{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-weight: 500;
    
}

h2{
    margin-bottom: 50px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 34px;
    font-weight: bold;
}

#skills:not(:last-child){
    margin-bottom: 30px;
}

#detalles{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#menu{
    position: relative;
    border: 2px solid rgb(46, 106, 163);
    border-radius: 20px;
}

#menu div{
    position: relative;
    width: 0;
    height: 8px;
    border-radius: 10px;
    background-color: rgb(46, 106, 163);
}

#html-menu{
    animation: html-barra 3s forwards;
}

@keyframes html-barra {
    100%{
        width: 80%;
    }
}

#css-menu{
    animation: css-barra 3s forwards;
}

@keyframes css-barra {
    100%{
        width: 70%;
    }
}

#js-menu{
    animation: js-barra 3s forwards;
}

@keyframes js-barra {
    100%{
        width: 40%;
    }
}

#py-menu{
    animation: py-barra 4s forwards;
}

@keyframes py-barra {
    100%{
        width: 50%;
    }
}

#rb-menu{
    animation: rb-barra 3s forwards;
}

@keyframes rb-barra {
    100%{
        width: 30%;
    }
}

#ang-menu{
    animation: ang-barra 3s forwards;
}

@keyframes ang-barra {
    100%{
        width: 70%;
    }
}