<div class="container">
    <h2>Mis Habilidades</h2>

    <div class="row" id="skills">
        <div class="col-md-12"> 
            <span>HTML</span> 
            <span>80%</span> 
        </div>
        
        <div class="col-md-12" id="menu">
            <div id="html-menu"></div>
        </div>
    </div>

    <div class="row" id="skills">
        <div class="col-md-12"> 
            <span>CSS</span> 
            <span>70%</span> 
        </div>
        
        <div class="col-md-12" id="menu">
            <div id="css-menu"></div>
        </div>
    </div>

    <div class="row" id="skills">
        <div class="col-md-12"> 
            <span>JAVASCRIPT</span> 
            <span>40%</span> 
        </div>
        
        <div class="col-md-12" id="menu">
            <div id="js-menu"></div>
        </div>
    </div>

    <div class="row" id="skills">
        <div class="col-md-12"> 
            <span>PYTHON</span> 
            <span>50%</span> 
        </div>
        
        <div class="col-md-12" id="menu">
            <div id="py-menu"></div>
        </div>
    </div>

    <div class="row" id="skills">
        <div class="col-md-12"> 
            <span>RUBY</span> 
            <span>30%</span> 
        </div>
        
        <div class="col-md-12" id="menu">
            <div id="rb-menu"></div>
        </div>
    </div>

    <div class="row" id="skills">
        <div class="col-md-12"> 
            <span>ANGULAR</span> 
            <span>70%</span> 
        </div>
        
        <div class="col-md-12" id="menu">
            <div id="css-menu"></div>
        </div>
    </div>
    




</div>