<div class="row">
<h1>Skills</h1>
    <div class="text-center col-sm-6 col-md-3 col-lg-3">
        <circle-progress
            [title]="'HTML'"
            [imageSrc]="'../assets/html.png'"
            [imageHeight]="50"
            [imageWidth]="50"
            [showImage]="true"
            [showUnits]="false"
            [showSubtitle]="false"
            [percent]="80"
            [radius]="80"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#333'"
            [innerStrokeColor]="'#333'"
            [animation]="true"
            [animationDuration]="900"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-md-3 col-lg-3">
        <circle-progress
            [title]="'CSS'"
            [imageSrc]="'../assets/css.png'"
            [imageHeight]="50"
            [imageWidth]="50"
            [showImage]="true"
            [showUnits]="false"
            [showSubtitle]="false"
            [percent]="70"
            [radius]="80"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#333'"
            [innerStrokeColor]="'#333'"
            [animation]="true"
            [animationDuration]="900"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-md-3 col-lg-3">
        <circle-progress
            [title]="'JS'"
            [imageSrc]="'../assets/js.png'"
            [imageHeight]="50"
            [imageWidth]="50"
            [showImage]="true"
            [showUnits]="false"
            [showSubtitle]="false"
            [percent]="30"
            [radius]="80"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#333'"
            [innerStrokeColor]="'#333'"
            [animation]="true"
            [animationDuration]="900"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-md-3 col-lg-3">
        <circle-progress
            [title]="'PYTHON'"
            [imageSrc]="'../assets/python.png'"
            [imageHeight]="50"
            [imageWidth]="50"
            [showImage]="true"
            [showUnits]="false"
            [showSubtitle]="false"
            [percent]="50"
            [radius]="80"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#333'"
            [innerStrokeColor]="'#333'"
            [animation]="true"
            [animationDuration]="900"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-md-3 col-lg-3">
        <circle-progress
            [title]="'RUBY'"
            [imageSrc]="'../assets/rubi.png'"
            [imageHeight]="50"
            [imageWidth]="50"
            [showImage]="true"
            [showUnits]="false"
            [showSubtitle]="false"
            [percent]="40"
            [radius]="80"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#333'"
            [innerStrokeColor]="'#333'"
            [animation]="true"
            [animationDuration]="900"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-md-3 col-lg-3">
        <circle-progress
            [title]="'ANGULAR'"
            [imageSrc]="'../assets/angular.png'"
            [imageHeight]="50"
            [imageWidth]="50"
            [showImage]="true"
            [showUnits]="false"
            [showSubtitle]="false"
            [percent]="65"
            [radius]="80"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#333'"
            [innerStrokeColor]="'#333'"
            [animation]="true"
            [animationDuration]="900"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-md-3 col-lg-3">
        <circle-progress
            [title]="'GITHUB'"
            [imageSrc]="'../assets/git-hub.png'"
            [imageHeight]="50"
            [imageWidth]="50"
            [showImage]="true"
            [showUnits]="false"
            [showSubtitle]="false"
            [percent]="50"
            [radius]="80"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#333'"
            [innerStrokeColor]="'#333'"
            [animation]="true"
            [animationDuration]="900"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-6 col-md-3 col-lg-3">
        <circle-progress
            [title]="'MYSQL'"
            [imageSrc]="'../assets/mysql.png'"
            [imageHeight]="50"
            [imageWidth]="50"
            [showImage]="true"
            [showUnits]="false"
            [showSubtitle]="false"
            [percent]="40"
            [radius]="80"
            [outerStrokeWidth]="15"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#333'"
            [innerStrokeColor]="'#333'"
            [animation]="true"
            [animationDuration]="900"
        ></circle-progress>
    </div>
</div>