<div class="row">
    <div class="col-lg-12">
      <ul class="list-group">
        <li class="list-group-item">
          <h1>Experiencia Laboral</h1>
        </li>
        <li class="list-group-item">
          <button class="btn" data-toggle="collapse" data-target="#experiencia1">Intérprete en Lengua de Señas: Profesor particular. 
            <h3>(Abril 2016 - Octubre 2021)</h3></button>
          <div id="experiencia1" class="collapse">
            <p>Como intérprete en Lengua de Señas, mi trabajo consiste en brindar asistencia a personas con discapacidad auditiva para que puedan comunicarse de manera efectiva en distintos contextos. Como profesor particular, utilizo mis habilidades lingüísticas para enseñar y guiar a mis estudiantes sordos o con problemas de audición en su aprendizaje. Mi objetivo es asegurarme de que puedan comprender el contenido de la materia y expresarse con fluidez en la Lengua de Señas, para que puedan alcanzar sus metas académicas y personales.</p>
          </div>
        </li>
        <li class="list-group-item">
          <button class="btn" data-toggle="collapse" data-target="#experiencia2">Ventas: Asesor de ventas. <h3>(Febrero 2022- Abril 2022)</h3></button>
          <div id="experiencia2" class="collapse">
            <p>Como asesor de ventas, mi trabajo consiste en brindar orientación y asesoramiento personalizado a los clientes que buscan adquirir productos o servicios. Soy responsable de comprender las necesidades y preferencias de los clientes y ofrecerles las mejores opciones de compra que se ajusten a sus requerimientos y presupuestos. También soy encargado de explicar las características y beneficios de los productos, manejar las negociaciones y concretar las ventas, asegurando la satisfacción del cliente. Mi objetivo principal es establecer relaciones a largo plazo con los clientes, brindando un excelente servicio y manteniendo altos estándares de calidad en mi desempeño como asesor de ventas.</p>
          </div>
        </li>
        <li class="list-group-item">
          <button class="btn" data-toggle="collapse" data-target="#experiencia3">Cobertura de eventos: Fotógrafo. <h3>(octubre 2021 - Actualidad)</h3></button>
          <div id="experiencia3" class="collapse">
            <p>Como fotógrafo de cobertura de eventos, mi trabajo consiste en capturar imágenes que cuenten una historia y reflejen la esencia de un evento en particular. Soy responsable de cubrir desde eventos corporativos y sociales, hasta conciertos y festivales. Mi objetivo es capturar momentos únicos y significativos que documenten la atmósfera del evento y la experiencia de los asistentes. Además de tomar fotografías de alta calidad, también me aseguro de trabajar con rapidez y eficiencia, coordinándome con el equipo de organización y otros profesionales involucrados en el evento. Con mi experiencia y habilidades técnicas, busco ofrecer un servicio que supere las expectativas de los clientes y garantice un recuerdo duradero del evento.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  