<div class="row">
    <div class="col-lg-12">
      <ul class="list-group">
        <li class="list-group-item">
          <h1>Educación</h1>
        </li>
        <li class="list-group-item">
          <button class="btn" data-toggle="collapse" data-target="#educacion1">Escuela Técnica Nro. 3 Dr. Juan B. Terán, San Miguel de Tucumán.</button>
          <div id="educacion1" class="collapse">
            <p>Título: Maestro mayor de obras.</p>
          </div>
        </li>
        <li class="list-group-item">
          <button class="btn" data-toggle="collapse" data-target="#educacion2">Escuela Obispo Molina, San Miguel de Tucumán.</button>
          <div id="educacion2" class="collapse">
            <p>Título: Intérprete en lengua de señas.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  