<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-12 col-lg-12 parte1">
            <h2>Menu en Python:</h2>
            <p>El trabajo consiste en un programa de Python que permite cargar y ver registros de animales en una lista.
            <p>1- Solicita al usuario que ingrese la cantidad de registros de animales que desea ingresar y muestra un mensaje indicando cuántos animales se van a insertar.</p>
            <p>2- Crea un bucle for que recorre la cantidad ingresada por el usuario y crea registros de animales utilizando un diccionario con los campos "especie", "población" y "ubicación". La población incluye un condicional que muestra si el animal está en vías de extinción, fuera de peligro de extinción o extinto. Los registros se guardan en una lista anidada llamada "animales".</p>
            <p>3- Crea una función llamada "CargaDeAnimales" que contiene el código del punto 2 y que retorna la lista "animales".</p>
            <p>4- Crea una función que permite consultar los registros de animales cargados en la lista "animales". Si la lista está vacía, muestra un mensaje indicando que la lista está vacía.</p>
            <p>5- Crea un condicional que muestra las opciones disponibles al usuario: ingresar registros de animales, consultar registros de animales o salir del programa. Si el usuario ingresa un número que no coincide con ninguna opción, se le muestra un mensaje indicando que la opción elegida no es válida. Este condicional se mantiene en un bucle hasta que el usuario elige la opción de salir del programa.</p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 parte2">
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                  <!-- Contenido del modal -->
                  <div class="modal-content">
                    <div class="modal-body">
                        <img src="../../../assets/menuPython.png" data-toggle="modal" data-target="#myModal" class="img-fluid">
                    </div>
                  </div>  
                </div>
              </div>
            <img src="../../../assets/menuPython.png" data-toggle="modal" data-target="#myModal" class="img-fluid img-proyecto">
        </div>
    </div>
</div>