<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <img src="../../../assets/Lautaropng.png" id="fotodeperfil" class="img-fluid">
        <div>
            <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
            <p id="ocupacion">Full Stack Developer Jr</p>
        </div>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Soy Lautaro, un programador con 22 años. Mi pasión por este mundo del codigo me han llevado a desarrollar un portfolio web que refleja mi trabajo y mis logros hasta la fecha.</p>
            <p>Mi objetivo es ofrecer soluciones creativas y efectivas para cada proyecto que abordo, trabajando en estrecha colaboración con mis clientes para garantizar que se alcancen sus objetivos y se superen sus expectativas.</p>
            <p>Mi enfoque se basa en la investigación y la comprensión de las necesidades, lo que me permite crear soluciones personalizadas y adaptadas a sus requisitos específicos.</p>   
            <p>Gracias por visitar mi portfolio web. Espero tener la oportunidad de colaborar con ustedes en futuros proyectos.</p>
        </span>
    </div>
</div>