<div class="banner">
    <img src="banner-image.jpg" alt="Banner Image">
    <div class="banner-text">
      <h1>¡Bienvenido!</h1>
      <p>Este es mi Portfolio Web. ¿Quieres conocer más al respecto?</p>
      <a href="#scroll-to-image" class="button">Ver más</a>
    </div>
  </div>
  
  <div id="scroll-to-image" class="scroll-to-image">
    <img src="../../../assets/HD-wallpaper-movie-interstellar-space-black-hole.jpg" alt="Scroll to Image">
    <p class="TextImgUniv">Un universo de oportunidades</p>
  </div>
  