.row{
    background-color: rgb(15, 15, 15);
    padding: 20px;
    padding-top: 50px;
}

h1{
    padding-bottom: 100px;
    color: white;
    text-align: center;
}

h2{
    color: white;
    text-align: center;
    border: 1px solid white;
    font-size: large;
}

.contenedor{
    width: auto;
}

.parte1, .parte2{
    display: inline-block;
    text-align: center;
    color: white; 
    padding-bottom: 20px;
    
}

.img-proyecto{
    margin-bottom: 100px;
    border: 2px solid rgb(255, 255, 255);
    width: 50%;
}


.modal-dialog {
    max-width: 80%;
    margin: 60px auto;
}
  
.modal-body {
    text-align: center;
    padding: 10px;
}
  
.img-responsive {
    margin: 0 auto;
    max-height: 70vh;
}
  
img:hover {
    cursor: pointer;
  }