<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Menu de Python</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi ullam iste vitae quisquam inventore, magni dolorem vel voluptates laboriosam perspiciatis ducimus eligendi, expedita eos corporis? Suscipit ratione quae amet mollitia!</p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 offset-md-1 offset-md-1 parte2">
            <img src="../../../assets/menuPython.png" class="img-fluid">
        </div>
    </div>
</div>