.row{
    padding: 40px;
    padding-top: 100px;
}

div{
    background-color: rgb(15, 15, 15);
    text-align: center;
    color: white;
}
h1{
    background-color: rgb(15, 15, 15);
    text-align: center;
    color: white;
}

.list-group-item{
    background-color: rgb(15, 15, 15);
    display: inline;
    font-size: large;
    color: white;
}

.btn{
    display: inline;
    font-size: large;
    color: rgb(100, 100, 100);
    font-weight: bold;
}

.btn:hover {
    display: inline;
    font-size: large;
    color: rgb(252, 252, 252);
    font-weight: bold;
}

h2, h3{
    display: inline;
    font-size: large;
    margin-top: 50px;
    font-weight: bold;
}

td{
    color: white;
}

#Nocenter{
    text-align: left;
}